{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jourferie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jourFerie.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if jourFerie.date %}{{ jourFerie.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ jourFerie.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('jourferie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('jourferie_edit', { 'id': jourFerie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
